<section
  class="h-auto md:h-max flex flex-col md:flex-row justify-around items-center my-8 md:my-44 section-1 space-x-10 space-y-10"
>
  <img
    src="assets/developer.svg"
    alt="Developer"
    class="h-52 md:h-80 rounded-full border-4 border-orange-500 mb-4 md:mb-0"
    data-aos="zoom-out-up"
    data-aos-duration="1500"
    data-aos-offset="100"
  />
  <div
    class="w-full md:w-2/4"
    data-aos="zoom-out-up"
    data-aos-duration="1500"
    data-aos-offset="100"
  >
    <p class="text-white">{{ "hello" | translate }}</p>
    <h1 class="text-5xl md:text-7xl text-orange-500">Brayan Dávila</h1>
    <p class="text-base md:text-lg text-gray-400 mb-2">
      {{ "position" | translate }}
    </p>
    <div
      class="text-white w-11/12 [&>p]:mb-2"
      [innerHTML]="'description' | translate"
    ></div>
  </div>
</section>
<hr
  class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700"
/>

<section class="h-auto md:h-max my-8 md:my-44 mx-10 md:mx-14">
  <h2
    class="text-4xl lg:text-7xl text-orange-500 text-center mb-10"
    data-aos="fade-down"
    data-aos-anchor-placement="center-bottom"
    data-aos-duration="500"
  >
    {{ "work_experience" | translate }}
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
    <div
      class="border rounded-lg shadow bg-gray-800 border-gray-700"
      data-aos="zoom-out-up"
      data-aos-duration="1500"
      data-aos-offset="100"
      *ngFor="let work of works"
    >
      <img
        class="rounded-t-lg object-cover h-48 sm:h-56 md:h-64 lg:h-80 xl:h-80 w-full"
        [src]="work.company_logo"
        alt=""
      />
      <div class="p-5">
        <h5 class="text-xl md:text-2xl font-bold tracking-tight text-white">
          {{ work.title }}
        </h5>
        <h6 class="mb-2 text-base lg:text-lg text-gray-500">
          {{ work.company }} <br />
          {{ work.initial | localizedDate : "longDate" }} -
          {{ work.final | localizedDate : "longDate" }}
        </h6>
        <p
          class="mb-3 font-normal text-gray-400"
          [innerHTML]="work.description"
        ></p>
        <a
          href="#"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-orange-600 hover:bg-orange-700 focus:ring-orange-800"
        >
          Read more
          <svg
            class="w-3.5 h-3.5 ml-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
<hr
  class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700"
/>

<section class="h-auto md:h-max my-8 md:my-44">
  <h2
    class="text-4xl lg:text-7xl text-orange-500 text-center mb-10"
    data-aos="fade-down"
    data-aos-anchor-placement="center-bottom"
    data-aos-duration="1500"
  >
    {{ "education" | translate }}
  </h2>
  <c-carousel>
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let document of documents">
        <!-- <img
          [src]="document.link"
          alt="{{ document.name }}"
          class="block w-full"
          loading="lazy"
        /> -->
        <embed
          [src]="document.link"
          type="application/pdf"
          class="flex justify-center w-4/5 h-[40rem]"
        />
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control
      [routerLink]
      caption="Previous"
      direction="prev"
    ></c-carousel-control>
    <c-carousel-control
      [routerLink]
      caption="Next"
      direction="next"
    ></c-carousel-control>
  </c-carousel>
</section>
